/* 
- border für das bild https://www.youtube.com/watch?v=-VOUK-xFAyk // https://codepen.io/kevinpowell/pen/QWVKZjx
*/

.aboutContainer {
  margin: 0 auto;
  display: grid;
  padding-top: $genericPadding;
  width: 70%;

  ul {
    padding-left: 0;
  }

  h2 {
    color: $yellow;
    text-align: center;
    padding-top: $genericPadding;
  }
   h3 {
    text-align: center;
   }

  .photo {
    background-image: url("/Bewerbungsbild.jpg");
    background-size: cover;
    background-position: -17px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: $genericPadding auto;
    box-shadow: 0px 0px 50px 5px #fff65550;
  }

  .facts {
    margin: 0 auto;
    padding-top: $genericPadding;
    
    .facts_ul {
      padding-top: $genericPadding;

      :first-child {
        @extend %underline;
      }
    }

    li {
      list-style: none;
    }
  }

  .skills {
    margin-top: $genericPadding;
    padding-top: $genericPadding;
    width: 100%;

    h4 {
      @extend %underline;
      padding-top: $genericPadding;
    }

    li {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    .skill-level {
      display: flex;
      gap: 0.4rem;

      .level-box {
        width: 10px;
        height: 10px;
        background-color: $yellow;
      }

      .filler-box {
        width: 10px;
        height: 10px;
        background-color: gray;
      }
    }
  }

  .quali {
    margin-top: $genericPadding;
    padding-top: $genericPadding;

    ul {
      list-style: none;

      .qualiYear,
      .qualiName {
        font-weight: bold;
      }

      .qualiInfo {
        padding: 0.7rem 0;
      }

      .infoName {
        font-weight: bold;
      }

      .infoInfo {
        font-weight: 200;
      }

      span {
        color: $yellow;
        font-weight: bold;
      }

      li {
        padding-top: $genericPadding;
      }
    }
  }

  .xp {
    margin-top: $genericPadding;
    padding-top: $genericPadding;

  
    h4 {
      font-size: 1.1rem;
      font-weight: bold;
      padding-top: $genericPadding;
    }

    span {
      font-weight: bold;
      color: $yellow;
    }

    p {
      font-weight: 200;
      padding: 0.7rem 0;
    }
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1px;
  height: 50%;
}

.el {
  position: absolute;
  opacity: 1;
  width: 2px;
  height: 100px;
  transform-origin: 50% 100%;
  background: white;
}

