/* ------------- TABLET VERSION ---------------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hContainer {
    height: 200px;
    background-size: cover;
  }

  /* ----- About ------ */
  .aboutWrapper {

    .aboutContainer {
      margin: 2rem auto;
      padding: 2rem;
      width: 85%;
      border-radius: 50px;
      background-color: #413f3f46;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      grid-template-areas:
        "h2 h2 h2"
        "photo . skills"
        "facts facts skills"
        "quali quali quali"
        "xp xp xp";
    }

    .photo {
      grid-area: photo;
    }

    .facts {
      grid-area: facts;
      align-self: center;
    }

    .skills {
      grid-area: skills;
    }

    .quali {
      grid-area: quali;

      .qualiUl {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "qualiLi1 qualiLi2 qualiLi3";
        justify-content: center;
      }

      .qualiLi1 {
        grid-area: qualiLi1;
        margin: 0 auto;
      }

      .qualiLi2 {
        grid-area: qualiLi2;
        margin: 0 auto;
      }

      .qualiLi3 {
        grid-area: qualiLi3;
        margin: 0 auto;
      }
    }

    .xp {
      grid-area: xp;
    }

    h2 {
      grid-area: h2;
    }
  }

  /* ----- Portfolio ---- */
  .portWrapper {
    .portfolioContainer {
      width: 85%;
      border-radius: 50px;
      background-color: #413f3f46;

      .cards {
        padding-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        .cardItem {
          padding: 0 1rem;
          width: 400px;

          img {
            border-radius: 10px;
          }

          .cardList {
            list-style: none;
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            padding: 1rem 0;
            font-weight: bold;
          }
        }
      }
    }
  }

  /* ----- Download ----- */
  .cvWrapper {
    margin-top: 4rem;
    background-image: url("../../public/bg_black_7.jpg");
    background-size: cover;
    height: 500px;

    .cvContainer {
      width: 100%;
      text-align: right;
      padding-right: 2rem;
    }
  }
}

/* ----------------- DESKTOP VERSION -------------- */
@media screen and (min-width: 1024px) {
  .hContainer {
    height: 200px;
    background-size: cover;
  }

  /* ----- About ------ */
  .aboutWrapper {

    .aboutContainer {
      margin: 2rem auto;
      padding: 2rem;
      width: 85%;
      border-radius: 50px;
      background-color: #413f3f46;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      grid-template-areas:
        "h2 h2 h2"
        "photo facts skills"
        "quali quali xp";
    }

    .photo {
      grid-area: photo;
      width: 300px;
      height: 300px;
      align-self: center;
    }

    .facts {
      grid-area: facts;
      align-self: center;
    }

    .skills {
      grid-area: skills;
      max-width: 250px;
      margin: 0 auto;
    }

    .quali {
      grid-area: quali;

      .qualiUl {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "qualiLi1 qualiLi2 qualiLi3";
        justify-content: center;
      }

      .qualiLi1 {
        grid-area: qualiLi1;
        margin: 0 auto;
      }

      .qualiLi2 {
        grid-area: qualiLi2;
        margin: 0 auto;
      }

      .qualiLi3 {
        grid-area: qualiLi3;
        margin: 0 auto;
      }
    }

    .xp {
      grid-area: xp;
    }

    h2 {
      grid-area: h2;
    }
  }

  .portWrapper {
    .portfolioContainer {
      width: 85%;
      border-radius: 50px;
      background-color: #413f3f46;

      .cards {
        padding-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        .cardItem {
          width: 400px;

          img {
            border-radius: 10px;
          }

          .cardList {
            list-style: none;
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            padding: 1rem 0;
            font-weight: bold;
          }
        }
      }
    }
  }

  /* ----- Download ----- */
  .cvWrapper {
    background-image: url("../../public/bg_black_7.jpg");
    background-size: cover;
    margin-top: 5rem;

    .cvContainer {
      width: 80%;
      height: 400px;
      text-align: right;
      padding: 2rem;
      margin-right: 0;
      border-radius: 50px;
      background: linear-gradient(20deg, #ffffff00 40%, #413f3f94 90%);
    }
  }
}
