%underline {
  text-decoration: underline 2px;
  text-decoration-color: $yellow;
}

%link {
  color: $yellow;
  text-decoration: underline;
  text-decoration-color: white;
}

%wrapperShadow {
  box-shadow: 10px 10px 50px #ffff0017;
}