* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "./styles/variables";
@import "./styles/placeholder";

@import "./styles/header";
@import "./styles/navbar";
@import "./styles/about";
@import "./styles/portfolio";
@import "./styles/footer";
@import "./styles/cv";
@import "./styles/mediaquer";



body {
    background-color: black;
    font-family: $regularFont;
    color: white;

    a {
        text-decoration: none;
    }
}