@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.aboutContainer .skills h4, .aboutContainer .facts .facts_ul :first-child {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  text-decoration-color: #FFED00;
}

.cvContainer ul li a, .portfolioContainer a {
  color: #FFED00;
  text-decoration: underline;
  text-decoration-color: white;
}

.hContainer {
  background-image: url("/banner.png");
  background-size: 147vw;
  background-position: center;
  height: 100px;
}

.navContainer {
  background-color: #FFED00;
}
.navContainer .navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8rem;
  font-weight: bold;
}
.navContainer .navbar a {
  padding: 0.5rem;
  width: 5rem;
  color: black;
}

/* 
- border für das bild https://www.youtube.com/watch?v=-VOUK-xFAyk // https://codepen.io/kevinpowell/pen/QWVKZjx
*/
.aboutContainer {
  margin: 0 auto;
  display: grid;
  padding-top: 1rem;
  width: 70vw;
}
.aboutContainer ul {
  padding-left: 0;
}
.aboutContainer h2 {
  color: #FFED00;
  text-align: center;
  padding-top: 1rem;
}
.aboutContainer h3 {
  text-align: center;
}
.aboutContainer .photo {
  background-image: url("/Bewerbungsbild.jpg");
  background-size: cover;
  background-position: -17px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 1rem auto;
}
.aboutContainer .facts {
  margin: 0 auto;
  padding-top: 1rem;
}
.aboutContainer .facts .facts_ul {
  padding-top: 1rem;
}
.aboutContainer .facts li {
  list-style: none;
}
.aboutContainer .skills {
  margin-top: 1rem;
  padding-top: 1rem;
  width: 100%;
}
.aboutContainer .skills h4 {
  padding-top: 1rem;
}
.aboutContainer .skills li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.aboutContainer .skills .skill-level {
  display: flex;
  gap: 0.4rem;
}
.aboutContainer .skills .skill-level .level-box {
  width: 10px;
  height: 10px;
  background-color: #FFED00;
}
.aboutContainer .quali {
  margin-top: 1rem;
  padding-top: 1rem;
}
.aboutContainer .quali ul {
  list-style: none;
}
.aboutContainer .quali ul .qualiYear,
.aboutContainer .quali ul .qualiName {
  font-weight: bold;
}
.aboutContainer .quali ul .qualiInfo {
  padding: 0.7rem 0;
}
.aboutContainer .quali ul .infoName {
  font-weight: bold;
}
.aboutContainer .quali ul .infoInfo {
  font-weight: 200;
}
.aboutContainer .quali ul span {
  color: #FFED00;
  font-weight: bold;
}
.aboutContainer .quali ul li {
  padding-top: 1rem;
}
.aboutContainer .xp h4 {
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 1rem;
}
.aboutContainer .xp span {
  font-weight: bold;
  color: #FFED00;
}
.aboutContainer .xp p {
  font-weight: 200;
  padding: 0.7rem 0;
}

/* 
- carussel für portfolio: https://codingyaar.com/bootstrap-4-carousel-multiple-items-responsive/
*/
.portfolioContainer {
  padding: 1rem 0;
  width: 70vw;
  margin: 0 auto;
}
.portfolioContainer h2 {
  color: #FFED00;
  text-align: center;
}
.portfolioContainer h3 {
  padding: 1rem;
  text-align: center;
}
.portfolioContainer .carousel {
  padding-top: 1rem;
}
.portfolioContainer .carouselItem {
  padding: 0 1rem;
}
.portfolioContainer .carouselItem img {
  border-radius: 25px;
}
.portfolioContainer .carousel-indicators {
  margin-bottom: -0.5rem;
}
.portfolioContainer .carousel-control-prev {
  left: -3.3rem;
}
.portfolioContainer .carousel-control-next {
  right: -3.3rem;
}
.portfolioContainer .portDesc {
  text-align: justify;
}

.footerContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: #FFED00;
  padding: 0.5rem 0;
}
.footerContainer a {
  color: black;
}

.cvContainer {
  margin: 1rem auto;
  padding: 1rem 0;
  width: 70vw;
}
.cvContainer h2 {
  color: #FFED00;
  text-align: center;
}
.cvContainer ul {
  padding: 0;
  list-style: none;
}
.cvContainer ul li {
  padding-top: 1rem;
}
/* ------------- TABLET VERSION ---------------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hContainer {
    height: 200px;
    background-size: cover;
  }
  /* ----- About ------ */
  .aboutWrapper {
    background-image: url("../../public/bg_black_9.jpg");
    background-size: cover;
  }
  .aboutWrapper .aboutContainer {
    padding: 2rem;
    position: relative;
    min-width: 625px;
    top: 4rem;
    border-radius: 50px;
    background-color: rgba(65, 63, 63, 0.2745098039);
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-template-areas: "h2 h2" "photo skills" "facts skills" "quali quali " "xp xp";
  }
  .aboutWrapper .photo {
    grid-area: photo;
    align-self: center;
  }
  .aboutWrapper .facts {
    grid-area: facts;
    align-self: center;
  }
  .aboutWrapper .skills {
    grid-area: skills;
  }
  .aboutWrapper .quali {
    grid-area: quali;
  }
  .aboutWrapper .quali .qualiUl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "qualiLi1 qualiLi2 " "qualiLi1 qualiLi3";
  }
  .aboutWrapper .quali .qualiLi1 {
    grid-area: qualiLi1;
  }
  .aboutWrapper .quali .qualiLi2 {
    grid-area: qualiLi2;
    text-align: right;
  }
  .aboutWrapper .quali .qualiLi3 {
    grid-area: qualiLi3;
    text-align: right;
  }
  .aboutWrapper .xp {
    grid-area: xp;
  }
  .aboutWrapper h2 {
    grid-area: h2;
  }
  /* ----- Portfolio ---- */
  .portWrapper {
    margin-top: 8rem;
    background-image: url("../../public/bg_black_4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right -200px;
    height: 980px;
    box-shadow: inset 25px -17px 47px 25px #000000;
  }
  .portWrapper .portfolioContainer {
    margin-left: 4rem;
    height: 880px;
    width: 50vw;
    border-radius: 50px;
    background-color: rgba(65, 63, 63, 0.2745098039);
    position: relative;
    top: 50px;
  }
  .portWrapper .portfolioContainer .carousel {
    padding-top: 2rem;
  }
  /* ----- Download ----- */
  .cvWrapper {
    margin-top: 4rem;
    background-image: url("../../public/bg_black_7.jpg");
    background-size: cover;
    height: 500px;
  }
  .cvWrapper .cvContainer {
    width: 100%;
    text-align: right;
    padding-right: 2rem;
  }
}
/* ----------------- DESKTOP VERSION -------------- */
@media screen and (min-width: 1024px) {
  .hContainer {
    height: 300px;
    background-size: cover;
  }
  /* ----- About ------ */
  .aboutWrapper {
    background-image: url("../../public/bg_black_9.jpg");
    background-size: cover;
    height: 2000px;
    box-shadow: inset 25px -17px 47px 25px #000000;
  }
  .aboutWrapper .aboutContainer {
    padding: 2rem;
    position: relative;
    width: 85vw;
    top: 4rem;
    border-radius: 50px;
    background-color: rgba(65, 63, 63, 0.2745098039);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    grid-template-areas: "h2 h2 h2" "photo facts skills" "quali quali quali" "xp xp xp";
  }
  .aboutWrapper .photo {
    grid-area: photo;
  }
  .aboutWrapper .facts {
    grid-area: facts;
  }
  .aboutWrapper .skills {
    grid-area: skills;
  }
  .aboutWrapper .quali {
    grid-area: quali;
  }
  .aboutWrapper .quali .qualiUl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "qualiLi1 qualiLi2 qualiLi3";
    justify-content: center;
  }
  .aboutWrapper .quali .qualiLi1 {
    grid-area: qualiLi1;
    margin: 0 auto;
  }
  .aboutWrapper .quali .qualiLi2 {
    grid-area: qualiLi2;
    margin: 0 auto;
  }
  .aboutWrapper .quali .qualiLi3 {
    grid-area: qualiLi3;
    margin: 0 auto;
  }
  .aboutWrapper .xp {
    grid-area: xp;
    padding: 0 4rem;
  }
  .aboutWrapper h2 {
    grid-area: h2;
  }
  /* ----- Portfolio ---- */
  .portWrapper {
    margin-top: 8rem;
    background-image: url("../../public/bg_black_4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right -200px;
    height: 980px;
    box-shadow: inset 25px -17px 47px 25px #000000;
  }
  .portWrapper .portfolioContainer {
    margin-left: 4rem;
    height: 880px;
    width: 50vw;
    border-radius: 50px;
    background-color: rgba(65, 63, 63, 0.2745098039);
    position: relative;
    top: 50px;
    left: 50px;
  }
  .portWrapper .portfolioContainer .carousel {
    padding-top: 2rem;
  }
  .portWrapper .portfolioContainer .carousel .carousel-control-prev {
    left: -7rem;
  }
  .portWrapper .portfolioContainer .carousel .carousel-control-next {
    right: -7rem;
  }
  /* ----- Download ----- */
  .cvWrapper {
    margin-top: 4rem;
    background-image: url("../../public/bg_black_7.jpg");
    background-size: cover;
    height: 500px;
  }
  .cvWrapper .cvContainer {
    width: 80%;
    height: 500px;
    text-align: right;
    padding: 2rem;
    margin-right: 0;
    border-radius: 50px;
    background: linear-gradient(20deg, rgba(255, 255, 255, 0) 40%, rgba(65, 63, 63, 0.5803921569) 90%);
  }
}
body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
}
body a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */